.help_title{ background: #fff; padding: 1em 1em 0.5em 1em; }
.detail_time{ background: #fff; font-size: 0.9em; padding: 0 1em;}
.help_main{ background: #fff; padding: 1em;}
.help_tel{ margin-top: 2em;}
