.main_box{ padding-top: 0.6em;}
.input_item{ background: #fff; height: 3em; padding: 0 1em; border-bottom: 1px solid #E1E1E1;}
.dbinput{}
.margin_r{ margin-right: 1em;}
.input_item02{ margin-bottom: 0.6em;}
