.font-size12{ font-size: 1.125em;}
.margin6{ margin-bottom: 0.6em;}
.newhangd_top{ padding: 1em; background: #fff;}
.newhangd_top2{ padding-top: 0.4em;}
.newhand_listTop{ background: #fff; padding: 1em; border-bottom: 1px solid #E1E1E1;}
.newhand_listTop img{ width: 1.5em;}
.newhand_detail{ background: #fff; padding: 1em;}
.newhand_sign{ padding: 3px 0.5em; background: #fda101; color: #fff; border-radius: 8px; font-size: 0.9em;}
.newhangd_top3{margin-bottom: 0.6em;}
